$yellow: #FFFF;

@mixin margenes($stop,$bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px,0px )
  
}

footer{
    position:relative ;
    background-color:$yellow;
    @include margenes(10px,0px )
}
.row-footer{
    margin-right: 0 !important;
    margin-left: 0 !important;
    
}
.btn-info{
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0;
    border-radius: 0px;
}

.card-hotel{
    flex: 1 150px;
    @include margenes(10px,0px )
}

.card-text{
    margin-top: 10px;
}
.cardbody{
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
.body{
    position: fixed;
}
.tab-content{
    padding-top: 10px;
}
.carousel {
    padding-top: 30px;
    
}

