.jumbotron {
  background-color: #f5d16e;
  color: black;
  margin-top: 50px; }

footer {
  position: relative;
  background-color: #f5d16e;
  align-items: center;
  margin-top: 20px;
  margin-bottom: bottom; }

.row-footer {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.btn-info {
  position: absolute;
  bottom: 0%;
  width: 100%;
  left: 0;
  border-radius: 0px; }

.card-hotel {
  flex: 1 150px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-bottom: 30px; }

.card-text {
  margin-top: 10px; }

.cardbody {
  margin-top: 10px;
  margin-bottom: 0px; }

.footer-address-icon {
  padding-right: 10px; }

.body {
  position: fixed; }

.tab-content {
  padding-top: 10px; }

.carousel {
  padding-top: 30px; }
